.App {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(-45deg, #530005, #43000D, #29011C, #100328);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
  color: white;
}

/* Header */

header {
  margin: 0px -15px;
  padding: 2rem;
  text-align: center;
}

header h2 {
  font-weight: 200;
  font-size: 135%;
}

/* TABLE */

th {
  font-weight: 500;
  font-size: 120%;
  letter-spacing: 0.2rem;
};

p {
  font-weight: 200;
}

#name, #email {
  font-weight: 600;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;	}
	100% {
		background-position: 0% 50%;
	}
}

