.App {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

header {
  margin: 0px -15px;
  padding: 2rem;
  text-align: center;
}

header h2 {
  font-weight: 200;
  font-size: 135%;
}

p {
  font-weight: 400;
}

.directory-head {
  margin-top: 1.5rem;
  text-align: center;
}

.directory-head h3 {
  font-size: 150%;
  font-weight: 300;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;	}
	100% {
		background-position: 0% 50%;
	}
}

